@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Source Code Pro';
}

/* NAV BAR */
#header {
    background-color: #141029;
    color: #5678ff;
}

.nav-link {
    margin: 0 20px;
    /* color: #5678ff; */
    text-decoration: none;
    font-weight: bold;
    float: left;
}


/* KARTICE */
.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.button {
    display: inline-block;
    line-height: 30px;
    background-color: #9228B8;
    color: #fff;

    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
}

.button:hover {
    background-color: #5F43D8;
    color: #fff;
}

.category {
    padding: 2px 15px;
    font-size: 12px;
    background-color: #295df948;
    /* border: solid 2px #33bca5; */
    border-radius: 50px;
}

.sort {
    background-color:#8873ddca;
    color:black;
    font-size:17px;
    height:30px;
}
