@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Source Code Pro';
}

body {
    /* background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

.container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #33bca5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212bb;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    position: absolute;
}

.btn-login {
    margin-top: 0;
}

.lbl {
    color: white;
    width: 200px;
    margin: 10px;
}

.inpt {
    color: #121212;
    font-size: 15px;
    background-color: white;
    border: solid 2px #9228B8;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    padding: 10px;
}

.inpt:hover {
    border: solid 2px #9228B8;
    background-color: white;
}

.btn {
    display: inline-block;
    line-height: 45px;
    background-color: #9228B8;
    border-radius: 20px;
    color: #fff;

    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
}

.btn:hover {
    background-color: #5F43D8;
    color: #fff;
}
